* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Abel;
}

body {
  background-color: #19202e;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

#video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.card {
  width: 100%;
  max-width: 500px;
  max-height: 2000px;
  background: rgba(46, 46, 61, 0.686);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.102);
  backdrop-filter: blur(7.7px);
  border: 1px solid rgba(46, 46, 61, 0.239);
  color: #fff;
  margin: 4vh auto;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.busca {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.busca input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.busca button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.busca button img {
  width: 40%;
}

.tempo {
  display: block;
}

.tempo.empty {
  display: block;
  width: 250px;
  height: 300px;
  margin: auto;
  margin-top: 30px;
  -webkit-mask: linear-gradient(#000 0 0) top / 100% 70%,
    linear-gradient(#000 0 0) bottom left /40% 25%,
    linear-gradient(#000 0 0) bottom right /40% 25%;
  -webkit-mask-repeat: no-repeat;
  background: linear-gradient(
      90deg,
      rgba(245, 245, 245, 0.212) 40%,
      rgba(250, 250, 250, 0.3),
      rgba(245, 245, 245, 0.212) 60%
    )
    right/300% 100%;
  animation: m 1s linear infinite;
  border-radius: 5px;
}

@keyframes m {
  to {
    background-position: left;
  }
}

.icone-tempo {
  width: 170px;
  margin-top: 30px;
}

.tempo h1 {
  font-size: 65px;
  font-weight: 500;
}
.tempo h2 {
  font-size: 45px;
  font-weight: 400;
}

.detalhes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}

.umidade,
.vento {
  font-size: 28px;
}

@media (max-width: 650px) {
  .detalhes {
    justify-content: space-around;
  }
}

@media (max-width: 390px) {
  .busca {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .busca input {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .busca button {
    width: 40px;
    height: 40px;
  }

  .icone-tempo {
    width: 50%;
  }

  .tempo h1 {
    font-size: 2rem;
  }

  .tempo h2 {
    display: none;
  }

  .detalhes {
    flex-flow: column;
    margin-top: 20px;
  }

  .col {
    width: 100%;
    justify-content: center;
  }

  /**
  Selects the first element with the class .col
  */
  .col:first-of-type {
    margin-bottom: 20px;
  }

  .col img {
    width: 40px;
  }

  .secao-umidade:last-child,
  .secao-vento:last-child {
    font-size: 1rem;
  }

  .umidade,
  .vento {
    font-size: 1.2rem;
  }
}
