* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Abel;
}

body {
    background-color: #19202e;
}

.card.grande {
  width: 100%;
  max-width: 500px;
  max-height: 2000px;
  background: linear-gradient(
    30deg,
    #023859,
    #1d4859,
    #37748c,
    #d9cbba,
    #f2a679
  );
  color: #fff;
  margin: 8vh auto;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.card {
  width: 100%;
  max-width: 500px;
  max-height: 140px;
  background: linear-gradient(
    30deg,
    #023859,
    #1d4859,
    #37748c,
    #d9cbba,
    #f2a679
  );
  color: #fff;
  margin: 8vh auto;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 1.7s ease-in-out;
}
.busca {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.busca input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.busca button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.busca button img {
  width: 40%;
}
.icone-tempo {
  width: 170px;
  margin-top: 30px;
}
.tempo h1 {
  font-size: 80px;
  font-weight: 500;
}
.tempo h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.detalhes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.umidade,
.vento {
  font-size: 28px;
  margin-top: -6px;
}

@media (max-width: 650px) {
  .detalhes {
    justify-content: space-around;
  }
}

@media (max-width: 390px) {
  .busca {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .busca input {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .busca button {
    width: 40px;
    height: 40px;
  }

  .icone-tempo {
    width: 50%;
  }

  .tempo h1 {
    font-size: 2rem;
  }

  .tempo h2 {
    display: none;
  }

  .detalhes {
    flex-flow: column;
    margin-top: 20px;
  }

  .col {
    width: 100%;
    justify-content: center;
  }

  /**
  Selects the first element with the class .col
  */
  .col:first-of-type {
    margin-bottom: 20px;
  }

  .col img {
    width: 40px;
  }

  .secao-umidade:last-child,
  .secao-vento:last-child {
    font-size: 1rem;
  }

  .umidade,
  .vento {
    font-size: 1.2rem;
  }
}
